@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    width: 360px;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #E8F9FD;
    letter-spacing: 2px;
    border-radius: 25px;
}

.default-font-family,
body * {
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: #E8F9FD;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.form {
    background-color: #E8F9FD;
    width: 600px;
    height: 150px;
    position: relative;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 800px;
    height: 40px;
    color: #555;
}

.check {
    top: 7.5px;
    margin-bottom: 50px;
    position: relative;
    width: 50px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:checked:before {
    background-color: #0AA1DD;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.01s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #00a1ff;
}

.submit {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 30%;
    border: none;
    color: #0AA1DD;
    background-color: #79DAE8;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 #0AA1DD;
    transition: all 0.3s;
    font-size: 1.5rem;
    outline: none;
}

.submit:hover {
    box-shadow: inset 300px 0 0 0 #0AA1DD;
    cursor: pointer;
    color: #79DAE8;
}

.form .output {
    margin: auto;
    width: 90vw;
    height: auto;
    background: transparent;
    border: 4px solid #79DAE8;
    border-radius: 10px;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    color: #0AA1DD;
    overflow: auto;
    margin-bottom: 25px;
}

.form .output p{
    font-size: 20px;
    color: #0AA1DD;
}

::-webkit-scrollbar{
    display: none;
}